html , body{
    width: 100%;
    height: 100%;    
}
.wrapper{
    display: grid;
    max-width: 1024px;
    height: 100%;
    margin: auto;
    grid-template-areas: "section header header header" "section wrapper__main-experience wrapper__main-experience wrapper__main-experience" "section wrapper__main-education wrapper__main-education wrapper__main-education";
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.wrapper__section{
    background-color: red;
    grid-area: section;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    color:white;
}
.wrapper__header{
    background-color: blue;
    grid-area: header;
}
.wrapper__main-experience{
    background-color: orange;
    grid-area: wrapper__main-experience;
}
.wrapper__main-education{
    background-color: palevioletred;
    grid-area: wrapper__main-education;
}
